H5 {FONT-SIZE: 11pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  FONT-STYLE: italic;  TEXT-ALIGN: left;  MARGIN: 17pt 3.7pt 0pt 0pt; }

P.MsoNormal {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: left;  MARGIN: 0pt 3.7pt 0pt 0pt; }

P.WordSection1 {page: WordSection1; }

SPAN.C1HPopup {FONT-FAMILY: "Times New Roman","serif";  COLOR: green;  FONT-STYLE: italic; }

P.Note {FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  PADDING-BOTTOM: 0pt;  TEXT-ALIGN: justify;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  MARGIN: 9pt 3.7pt 9pt 0pt;  BORDER-LEFT: medium none;  PADDING-RIGHT: 0pt; }

P.MsoCaption {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-STYLE: italic;  TEXT-ALIGN: justify;  MARGIN: 3pt 3.7pt 8pt 0pt;  tab-stops: 180.0pt 198.0pt; }

P.BodySub-Title {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  TEXT-ALIGN: justify;  MARGIN: 6pt 3.7pt 3pt 0pt; }

P.normal {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: left;  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 3.7pt; }
SPAN.normal {color:windowtext; text-decoration:none; }

P.tableheading0 {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-ALIGN: left;  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 3.7pt; }


P.tabletext0 {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-ALIGN: left;  MARGIN: 3pt 3.7pt 3pt 0pt; }

P.tabletext1 {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-ALIGN: left;  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 3.7pt; }

P.TableHeading {FONT-SIZE: 8pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  COLOR: white;  TEXT-ALIGN: left;  MARGIN: 3pt 3.7pt 3pt 0pt; }

P.Tabletext2 {FONT-SIZE: 9pt;  FONT-FAMILY: "Calibri","sans-serif";  TEXT-ALIGN: left;  MARGIN: 0pt; }

P.Source {FONT-SIZE: 7pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Courier New";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  PADDING-BOTTOM: 0pt;  TEXT-ALIGN: justify;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  MARGIN: 0pt 3.7pt 6pt 36pt;  BORDER-LEFT: medium none;  PADDING-RIGHT: 0pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

SPAN.TextkrperZchn {FONT-FAMILY: "Verdana","sans-serif"; }

P.MsoNoSpacing {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: left;  MARGIN: 0pt 3.7pt 0pt 0pt; }

P {FONT-SIZE: 9pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-ALIGN: justify;  MARGIN: 4pt 3.7pt 6pt 144pt; }

P.TableText {FONT-SIZE: 8pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: left;  MARGIN: 2pt 3.7pt; }

H1 {FONT-SIZE: 24pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  TEXT-ALIGN: left;  MARGIN: 48pt 3.7pt 24pt 0pt; }

H2 {FONT-SIZE: 18pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  TEXT-ALIGN: left;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  MARGIN: 18pt 3.7pt 6pt 0pt;  BORDER-LEFT: medium none;  PADDING-RIGHT: 0pt; }

P.BodyTextKeepwithnext {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  TEXT-ALIGN: justify;  MARGIN: 6pt 3.7pt 3pt 0pt; }

H3 {FONT-SIZE: 13pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  TEXT-ALIGN: left;  MARGIN: 17pt 3.7pt 0pt 0pt; }

P.MsoBodyText {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: justify;  MARGIN: 4pt 3.7pt 6pt 0pt; }

H4 {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  FONT-STYLE: italic;  TEXT-ALIGN: left;  MARGIN: 10.8pt 3.7pt 0.7pt 0pt; }

