@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

div {
    display: inline-block;
}
.arrowleft {
    position: absolute;
    right: 150px;
}
.arrowright {
    position: absolute;
    left: 150px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#picofme {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFFFFF;
}
img:hover {
    filter: grayscale(0);
}
img:active {
    opacity: 0.7;
    transition: .1s ease-in-out;
	box-shadow: 0px 0px 20px #fff;
}
img {
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

body {
    background-color: #222;
    padding: 10% 10% 10% 10%;
    margin: 10% 10% 10% 10%;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.65em;
}

p {
    margin: 0 0 2em 0;
}
h1 {
    color: #fff;
    font-weight: 700;
    font-size: 3.25em;
    line-height: 1.25em;
    margin: 0 0 0.55em 0;
}

.button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button:hover {
    color: #426DDA;
	text-shadow:
    -1px -1px 0 #CCC,
    1px -1px 0 #CCC,
    -1px 1px 0 #CCC,
    1px 1px 0 #CCC;  
}

.button:active {
    color: #3456AC;
	text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;  
}